<% provide(:title, "Home") %>

<div class="row">
  <div class="large-6 columns">
    <h1 class="logo">Street Walk</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur nulla vel purus porttitor, eu dapibus magna suscipit. Duis sed ex justo. Ut fringilla interdum semper. Phasellus maximus, sem eget faucibus blandit, velit libero congue lectus, a facilisis mauris.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur nulla vel purus porttitor, eu dapibus magna suscipit. Duis sed ex justo. Ut fringilla interdum semper. Phasellus maximus, sem eget faucibus blandit, velit libero congue lectus, a facilisis mauris.</p>
    <%= image_tag('sign-in.png', :class => 'sign-in') %>
  </div>
  <div class="large-6 columns">
  </div>
</div>

<div class="row">
  <div class="large-12 columns triangle-holder">
    <%= image_tag('triangle.png', :class => 'triangle') %>
  </div>
</div>


  <div class="middle-block">
    <%= image_tag('middle.png') %>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h2>Find Street Art</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns large-offset-2"><%= image_tag('near.png', :class => 'buttons') %><%= image_tag('popular.png', :class => 'buttons') %><%= image_tag('recent.png', :class => 'buttons') %></div>
    <div class="large-offset-2"></div>


  </div>

  <div class="bottom">

      <%= image_tag('bottom.png', :class => 'bottom') %>
  </div>
