<% provide(:title, @user.user_name) %>
    <div class="row welcome">
      <div class="columns large-12">
        <% if current_user %>
          <%= render 'layouts/user_welcome' %>
        <% else %>
          <%= render 'layouts/visitor_profile' %>
        <% end %>
      </div>
    </div>

    <div class="row">
        <div class="columns large-3 user-photo">
          <%= image_tag @user.image_url %>
        </div>

        <div class="columns large-9">
          <div class="row">
            <div class="columns large-12 recently-added">
              <h4>Recently Added Murals</h4>
            </div>
          </div>

          <div class="row recent">
            <% @user.saved_murals.last(4).each do |mural| %>
                <div class="columns large-3">
                      <%= link_to(image_tag(mural.image), mural_path(mural)) %>
                    <h4><%= link_to mural.name, mural_path(mural) %></h4>
                </div>
            <% end %>
          </div>
        </div>
    </div>

    <div class="row profile">
        <div class="columns large-6">
            <ul class="profile-list">
                <li><span><%= display_present_attribute('User Name',   @user.user_name)%></li>
                <li><span><%= display_present_attribute('Email',       @user.email)%></li>
                <li><span><%= display_present_attribute('Description', @user.description)%></li>
                <li><span><%= display_present_attribute('Occupation',  @user.occupation)%></li>
                <li><span><%= display_present_link(@user.twitter_link , (link_to @user.twitter_link, @user.twitter_link))%></li>
                <li><span><%= display_present_link(@user.facebook_link, (link_to @user.facebook_link, @user.facebook_link))%></li>
            </ul>
        </div>

        <div class="columns large-6">
            <ul class="profile-list">
                <li><span><%= display_present_link(@user.linkedin_link, (link_to @user.linkedin_link, @user.linkedin_link))%></li>
                <li><span><%= display_present_link(@user.dribbble_link, (link_to @user.dribbble_link, @user.dribbble_link))%></li>
                <li><span><%= display_present_link(@user.ello_link, (link_to @user.ello_link, @user.ello_link))%></li>
                <li><span><%= display_present_link(@user.instagram_link, (link_to @user.instagram_link, @user.instagram_link))%></li>
                <li><span><%= display_present_link(@user.website_url, (link_to @user.website_url, @user.website_url))%></li>
            </ul>
        </div>
        <hr/>
    </div>


  <% if current_user %>
    <div class="row">
      <div class="columns large-12 unsaved-murals">
        <h4>Unsaved Murals</h4>
      </div>
    </div>

    <div class="row unsaved">
        <% @user.unsaved_murals.each do |mural| %>
            <div class="mural_image columns large-3">
                <h4><%= link_to "Add Mural", new_mural_path(:image => mural['image'], :latitude => mural['latitude'], :longitude => mural['longitude'] ) %></h4>
                <%= image_tag mural['image'] %>
            </div>
        <% end %>
    </div>

    <div class="row">
      <div class="columns large-12 saved-murals">
        <h4>Saved Murals</h4>
      </div>
    </div>

    <div class="row final">
        <% @user.saved_murals.each do |mural| %>
            <div class="mural_image_saved columns large-3">
                <h4><%= link_to "Edit",   edit_mural_path(mural) %></h4>
                <h4><%= link_to "Delete", mural_path(mural), method: "delete", data: { confirm: "You sure?" }  %></h4>
                <%= image_tag mural.image %>
            </div>
        <% end %>
    </div>
  <% end %>
