<div class="row">
  <div class="columns large-1 add-art">
    <%= image_tag params[:image] %>
  </div>
  <div class="columns large-11">
    <h3>Add Street Art</h3>
  </div>
</div>
<div class="row">
  <div class="columns large-12">
    <%= form_for(@mural) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :image %>
      <%= f.text_field :image, :value => params[:image] %>
      <%= f.label :latitude %>
      <%= f.text_field :latitude, :value => params[:latitude] %>
      <%= f.label :longitude %>
      <%= f.text_field :longitude, :value => params[:longitude] %>
      <%= f.label :artist_name %>
      <%= f.text_field :artist_name %>
      <%= f.label :date_created %>
      <%= f.text_field :date_created %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit "Submit", class: "button round"%>
    <% end %>
  </div>
</div>
