<div class="row">
  <div class="columns large-12 recently-added main">
    <h3><%= @mural.name %></h3>
  </div>
</div>

<div class="row">
  <div class="columns large-8">
    <%= image_tag @mural.image %>

  </div>

  <div class="columns large-4">
    <ul class="mural-lists">
      <li><span><%= display_present_attribute('Artist Name', @mural.artist_name)%></li>
      <li><span><%= display_present_attribute('Date Created', @mural.date_created)%></li>
      <li><span><%= display_present_attribute('Description', @mural.description)%></li>
      <li><span><%= display_present_attribute('Latitude', @mural.latitude)%></li>
      <li><span><%= display_present_attribute('Longitude', @mural.longitude)%></li>
      <li><span><%= display_present_attribute('Artist Name', @mural.artist_name)%></li>
    </ul>
  </div>
</div>
